<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trishiaanne.skincheckr">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="SkinCheckr"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DermaInfo"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main_2" />
        <activity android:name=".Result"
            android:parentActivityName=".Result"/>
        <activity android:name=".GuestResult"/>
        <activity android:name=".diseaseProfile.atopic_profile"/>
        <activity android:name=".diseaseProfile.contact_profile"/>
        <activity android:name=".diseaseProfile.dys_profile"/>
        <activity android:name=".diseaseProfile.intertrigo_profile"/>
        <activity android:name=".diseaseProfile.melanoma_profile"/>
        <activity android:name=".diseaseProfile.pity_profile"/>
        <activity android:name=".diseaseProfile.psor_profile"/>
        <activity android:name=".diseaseProfile.corporis_profile"/>
        <activity android:name=".diseaseProfile.pedis_profile"/>
        <activity android:name=".diseaseProfile.benign_profile"/>
        <activity android:name=".diseaseProfile.skin_profile"/>
        <activity android:name=".NotifUV"></activity>
        <activity
            android:name=".Camera"
            android:hardwareAccelerated="false"
            android:parentActivityName=".Camera" />
        <activity
            android:name=".UserCam"
            android:hardwareAccelerated="false"
            android:parentActivityName=".UserCam" />
        <activity
            android:name=".Login"
            android:parentActivityName=".Login" />
        <activity android:name=".History" />
        <activity android:name=".ReviewHistory" />
        <activity
            android:name=".SignUp"
            android:parentActivityName=".SignUp" />
        <activity android:name=".Profile" />
        <activity android:name=".Uv" />
        <activity android:name=".Derma" />
        <activity
            android:name=".imgProcessing.ImageProcessing"
            android:parentActivityName=".imgProcessing.ImageProcessing" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.trishiaanne.skincheckr.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>